<div class="jumbotron">
    <div class="container">
        <h1>Hello, stranger.</h1>
        <p>You can view created sites or sign in and create your own site</p>
        <p>The list of created sites</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Sites</th>
                <th>Users</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in site">
                <td>{{ item.id }}</td>
                <td>{{ item.siteName }}</td>
                <td>{{ item.user.name }}</td>
            </tr>
            </tbody>
            </table>
    </div>
</div>
