<div class="jumbotron">
    <div class="container">
        <p>The List of all sites!</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sites</th>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in site">
                    <td>{{ item.id }}</td>
                    <td>{{ item.siteName }}</td>
                    <td>{{ item.user.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>